.card {
    width: 290.74px;
    height: 350.08px;
    position: absolute;
    left: 0.34%;
    right: 0.09%;
    top: 12.48%;
    bottom: 0%;
    box-sizing: border-box;
    background: #626A881A;
    border: 1px solid linear-gradient(180deg, rgba(236, 240, 255, 0) 0%, rgba(46, 49, 73, 0.1) 10%);
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 1.5rem;
    color: white;
    backdrop-filter: blur(50px);
    border-radius: 15px;
}
