.main{
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #14172B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.my-text {
  position: relative;
  width: 146px;
  height: 32px;
  left: 8%;
  top:20%;
  border-radius: 0;
  font-family: 'Tomorrow';
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #ECF0FF;
  opacity: 0.9;
}
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
